@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("https://img.freepik.com/premium-vector/colorful-smooth-gradient-background_97886-978.jpg");
  background-size: cover;
  overflow-y: hidden;
}

select {
  width: 100px;
  /* 원하는 너비설정 */
  padding: 0.8em 0.5em;
  /* 여백으로 높이 설정 */
  font-family: inherit;
  /* 폰트 상속 */
  background: url("img/caret-down-outline.png") no-repeat 95% 50%;
  /* 네이티브 화살표 대체 */
  background-size: 20px;
  border: 1px solid #999;
  border-radius: 7px;
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  color: white;
}

input {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: rgb(255, 255, 255);
  /* 네이티브 화살표 대체 */
  filter: grayscale(100%);
  border: 1px solid black;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  padding: 0.8em 0.8em;
  /* 여백으로 높이 설정 */
}

button {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0);
  /* 네이티브 화살표 대체 */
  filter: grayscale(100%);
  border: 1px solid black;
  color: black;
  border-radius: 7px;
  padding: 0.5em 0.5em;
  /* 여백으로 높이 설정 */
}
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: smaller;
  background-color: rgba(59, 130, 246, 0.01);
  backdrop-filter: blur(15px);
  height: 55px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display-container {
  padding-bottom: 100%;
  background: linear-gradient(to bottom, #a18cd1, #fbc2eb);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  flex: 12;
  overflow-y: scroll;
}
.display-container::-webkit-scrollbar {
  display: none;
  width: 0;
}

div.code_background {
  background-color: #24292f;
  color: white;
  margin: 3rem;
  border-radius: 15px;
}

.code {
  width: 100%;
  flex-direction: column;
  font-size: 32px;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  flex: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
}
.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 42px;
}
#title_code {
  padding-top: 2rem;
}
#ipt_title {
  border: none;
  font-size: 16px;
  margin-top: 1rem;
  margin-right: 60%;
}
#ipt_code {
  border: none;
  border-radius: 5px;
  height: 50rem;
  font-size: 16px;
  margin-top: 1rem;
}
#ipt_code-container::-webkit-scrollbar {
  display: none;
  width: 0;
}
button.btn_create {
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  width: 80px;
  background: white;
  font-size: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  justify-content: flex-start;
}
